@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
	padding: 0;
	border: none;
	margin: 0;
	text-decoration: none;
	background-color: whitesmoke;
}
header{
	max-width: 100%;
	height: 80px;
	background-color: white;
	box-shadow: 0px 10px 30px grey;
}
a{
	text-decoration: none;
}
.header__inner{
	margin: 0 auto;
	display: flex;
	align-items: center;
	max-width: 80%;
	height: 80px;
}
.logo{
	text-shadow: 0px 0px 10px black;
	font-family: 'Ubuntu', sans-serif;
	align-items: center;
	justify-content: center;
	text-align: center;
	display: flex;
	margin: 0 auto;

}
.link{
	align-items: center;
	margin: 0 auto;
	width: 30%;
	height: 80px;
	display: flex;
	align-items: center;
}
.links{
	transition: 0.3s;
	font-family: 'Ubuntu', sans-serif;
	align-items: center;
	justify-content: center;
	text-align: center;
	display: flex;
	margin: 0 auto;
}
.set{
	display: flex;
	margin-right: auto;
	position: absolute;
	right: 40px;
	text-decoration: none;
}
.set2{
	position: absolute;
	left: 40px;
	text-decoration: none;
}

@media (max-width: 1850px){
	.link{
	margin: 0 auto;
	width: 40%;
	height: 80px;
	display: flex;
	align-items: center;
	}
}
@media (max-width: 1400px){
	.link{
	margin: 0 auto;
	width: 60%;
	height: 80px;
	display: flex;
	align-items: center;
}
}
@media (max-width: 1000px){
	header{
	max-width: 100%;
	height: 300px;
	background-color: white;
	box-shadow: 0px 10px 30px grey;
	}
	.header__inner{
	margin: 0 auto;
	height: 300px;
	width: 100%;
	}
	.link{
		display: inline-block;
		height: 300px;
	}
	.links{
		font-size: 2em;
		width: 100%;
		height: 50px;
		align-items: center;
	}
	.links:hover{
		box-shadow: 0px 0px 10px grey;
	}
	.logo{
		font-size: 2em;
		width: 100%;
		height: 50px;
		align-items: center;
	}
}
@media (max-width: 580px){
	.logo{
		font-size: 1em;
		width: 100%;
		height: 50px;
		align-items: center;
	}
}